.pattern {
    background-image: url('/Mask Group 20.png');
}

.exist {
    position: fixed;
    top: 0;
    right: -100rem ;
    transition: 500ms;
    z-index: 10;
}

.gone {
    right: 0rem;
}

.faded {
    z-index: 5;
    position: fixed;
    top: 0;
    right: 0;
    bottom:0;
    left: 0;
    background-color: black;
    opacity: .5;
    transition: 1s;
}